accelerate
anthropic
beautifulsoup4
bitsandbytes
chromadb
datasets
feedparser
gensim
google-generativeai
gradio
ipywidgets
jupyter-dash
jupyterlab
langchain
langchain-openai
langchain[docarray]
langchain_chroma
langchain_experimental
matplotlib
matplotlib
modal
numpy
ollama
openai
pandas
plotly
psutil
pydub
python-dotenv
requests
scikit-learn
scikit-learn
scipy
sentence_transformers
sentencepiece
sentencepiece
setuptools
speedtest-cli
tiktoken
torch
torchaudio
tqdm
transformers
unstructured
